body {
  font-family: Arial, sans-serif;
  background-color: #1a1919;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  width: fit-content;
  margin-top: 25px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #ddfff7;
}

input[type="text"] {
  width: 92%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  background-color: #dde9ff;
}

button {
  width: 70px;
  height: 70px;
  font-size: 20px;
  margin: 5px;
  transition-property: background-color;
  transition: 0.3s;
}

.number {
  background-color: #93e1d8;
}
#decimal {
  background-color: #93e1d8;
}
.number:active {
  background-color: #04e3c9;
}
#decimal:active {
  background-color: #04e3c9;
}
.operand {
  background-color: #ffa69e;
}
.operand:focus {
  background-color: #fc6457;
}
#equals {
  background-color: #ff77a4;
}
#clear {
  background-color: #ff77a4;
}
#backspace {
  background-color: #ff77a4;
  width: 240px;
}
#equals:active {
  background-color: #fa0e5c;
}
#clear:active {
  background-color: #fa0e5c;
}
#backspace:active {
  background-color: #fa0e5c;
}
